
/*
 * BBC News Labs - std CSS
 *
 */
/* Include the reith font (used in header and footer) */
a.fakea{
    color: blue;
    cursor: pointer;
}
a.fakea:hover{
    text-decoration: underline;
}
body{
    margin-top: 60px;
    margin-bottom: 100px;
    font-size: 11pt;
}
header{
    font-family: "Reith Sans";
    font-size: 13.5pt;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 1rem 0;
    background-color: #a91717;
    color: white;
    border-bottom: 0.5px solid silver;
    box-shadow: 0 0 10px lightgray;
}
footer{
    font-family: "Reith Sans";
    font-size: 12pt;
    position: fixed;
    width: 100%;
    bottom: 0px;
    padding: 1rem 0;
    background-color: whitesmoke;
    border-top: 0.5px solid silver;
    box-shadow: 0 0 10px lightgray;
    z-index: 999999;
}
